<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMBJ0jHf6oWi6Et6KMVLWEP0eSh3SLC5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>598663851122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expensesoff.expensesOff</string>
	<key>PROJECT_ID</key>
	<string>expenseoff</string>
	<key>STORAGE_BUCKET</key>
	<string>expenseoff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598663851122:ios:e206610e5171fe9f4c26eb</string>
</dict>
</plist>